@charset "UTF-8";
/* CSS Document */


@font-face {
font-family: BaronNeue;
src: url(fonts/BaronNeue.otf);
}

@font-face {
	font-family: bnOutline;
	src: url(fonts/bnOutline.otf);
}

body{
	font-family: BaronNeue;
	background-color: #b7cde9; 
	overflow-y:hidden;
	cursor:crosshair;
}

#title {
	height: auto;
	padding-top:2%;
	width: 100%;
	text-align: center;
	font-size: 45px;
	position: fixed;
	padding-bottom: 10px;
}

		#name{
			font-weight: bold;
			font-family: bnOutline;
			top:30%;
			position: relative;
		}

	#links {
		margin: 0 auto;
		width: 35%;
		position: relative;
	}

	#links div{
		top:0;
		height: 80px;
		width: 70px;
		display: inline-block;

	}

	.link{
		height: auto;
		width: auto;
	}

	.link img{
		position: relative;
	}
			#links label{
				position: relative;
				text-align: center;
				font-size:15px;
			}

						.icon{
							height: 50px;
							width: 50px;
						}

						.icon:hover {
							-webkit-filter:invert(100%);
							transition:all .5s ease-in;
						}

						.icon:not(:hover){
							transition: all .5s ease-out;
						}



#content{
	top:27%;
	height: auto;
	position:fixed;
	width:99%;
}

#sidebar{
	z-index: 1;
	font-family: bnOutline;
	border-top: dotted thin;
	border-bottom: dotted thin;
	display: inline-block;
	width:99%;
	height:10%;
	position: relative;
	margin: 0 auto;
}

#sidebar ul{
	position: relative;
	margin: 0;
	padding: 0;
}

		label{
			text-align: center;
		}

		/*
		#sideIn{
			position:relative;
			height: 20px;
			width: 20px;
			float:left;
		}

		#sideOut{
			float:right;
			position: relative;
			height: 20px;
			width: 20px;
			visibility: hidden;
		}

		#sidebar:target{
			left:-10.5%;
		}

		*/

				#sidebar .icon{
					width: 35px;
					height: 35px;
					display: inline-block;
				}

				.h2{
					margin: 18px;
					padding: 1% 3% 0% 3%;
					border-radius: 5px;
					display: inline-block;
					width: 200px;
					position: relative;
					font-size: 25px;
					text-align: center;

				}

		

				.h2:hover {
					background-color: black;
					color: white;
					-webkit-transition: all .35s ease-in;
	
				}

				.h2:hover .icon{
					-webkit-filter:invert(100%);
					-webkit-transition: all .35s ease-in;
	
				}


				.h2:not(:hover) {
					-webkit-transition: all .35s ease-out;
				} 


	#page {
		color: black;
		padding: 2%;
		margin: 0 auto;
		width: 94%;
		margin-top:.5%;
		position: relative;
		border-radius: 5px;
		text-align: right;
	}

/*
			#pageTitle{
				visibility: hidden;
				font-weight: bold;
				text-align: center;
				position: relative;
				font-size: 30px;
			}*/

			#pageContent{
				width: auto;
				text-align: center;
				font-size: 25px;
			}

					#pageContent header{
						padding:5px;
						font-weight: bold;
					}

					#pageContent section{
						font-family: bnOutline;
						font-size: 25px;
					}

					#pageContent ul{
						list-style-type: none;
						position: relative;
						margin: 0;
						padding: 0;
					}

					#pageContent footer{

					}


/*

#tweetdeck{
	visibility:;
	height: auto;
	width: auto;
	top: 25%;
	right: 1%;
	position:fixed;
	-webkit-transition:right .5s ease-in;
}

			#tweetdeck:target{
				right:-15%;
			}

			#tweethead{
				position: relative;
				float:left;
			}

			#tweetIn{
				position: relative;
				visibility:;
				border-right:solid thin;
				float:right;
			}

			#tweet{
				visibility:;
			}

			#tweetOut{
				float:left;
			}

*/

